<!DOCTYPE html>
<html>
<head>
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/common.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="topbar">
    <h3>
        后台系统欢迎
        <% if (user_name){ %> <%= user_name %> <% }else{  %> <a href="/login">请登录</a><% } %>
        <a href="/logout" class="logout">退出</a>
    </h3>
</div>